@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<UserTask>

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h2>Quadrant 1</h2>
            @foreach (var item in Model)
            {
                @if (@item.Quadrant == 1)
                {
                    <div class="d-flex align-items-center mb-2">
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button style="width: 50px; height: 25px; font-size: 10px;" class="btn btn-sm btn-outline-primary me-2" type="submit">Check off task</button>
                        </form>
                        <span>@item.TaskName  </span>
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button class="btn btn-sm btn-outline-primary me-2" type="submit">Edit Task</button>
                        </form>
                        <form asp-controller="Home" asp-action="DeleteTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete Task</button>
                        </form>
                    </div>
                }
            }
        </div>
        <div class="col">
            <h2>Quadrant 2</h2>
            @foreach (var item in Model)
            {
                @if (@item.Quadrant == 2)
                {
                    <div class="d-flex align-items-center mb-2">
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Check off task</button>
                        </form>
                        <span>@item.TaskName  </span>
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Edit Task</button>
                        </form>
                        <form asp-controller="Home" asp-action="DeleteTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete Task</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Quadrant 3</h2>
            @foreach (var item in Model)
            {
                @if (@item.Quadrant == 3)
                {

                    <div class="d-flex align-items-center mb-2">
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Check off task</button>
                        </form>
                        <span>@item.TaskName  </span>
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Edit Task</button>
                        </form>
                        <form asp-controller="Home" asp-action="DeleteTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete Task</button>
                        </form>
                    </div>
                }
            }
        </div>
        <div class="col">
            <h2>Quadrant 4</h2>
            @foreach (var item in Model)
            {
                @if (@item.Quadrant == 4)
                {
                    <div class="d-flex align-items-center mb-2">
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-outline-primary me-2">Check off task</button>
                        </form>
                        <span>@item.TaskName  </span>
                        <form asp-controller="Home" asp-action="EditTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Edit Task</button>
                        </form>
                        <form asp-controller="Home" asp-action="DeleteTask" method="post">
                            <input type="hidden" name="taskId" value="@item.TaskId" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete Task</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>


</div>
